* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  overflow-x: hidden;
}

/* Header styles */
header {
  min-height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 10px;
}

.image-container {
  flex-grow: 1;
}

.flex-button {
  flex-grow: 1;
  text-align: center;
}

nav {
  flex-grow: 3;
  justify-content: space-around;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

nav ul li {
  display: inline;
  padding: 10px;
}

li a {
  text-decoration: none;
  color: black;
}

.button a {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 10px;
}

/* main section styles */

/* section one styles */
.hero {
  /* background-image: url(/images/background-image3.jpg); */
  background-image: linear-gradient(
      to right,
      rgba(90, 167, 199),
      rgba(0, 0, 0, 0.5)
    ),
    url("/images/background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-attachment: scroll;
  min-height: 400px;
  width: 100vw;

  text-align: left;
}

.hero-section {
  min-height: 400px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;
}

.hero-section h1 {
  font-size: 50px;
  color: #fff;
}

.highlight {
  color: #fff;
  font-size: 40px;
}

.white {
  color: #fff;
}

/* section two styles */
.services {
  margin-right: 10%;
  margin-left: 10%;
  padding: 20px;
  text-align: center;
}

.services h2 {
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
  margin-top: 10px;
}

/* section three styles */
.flex-container {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.flex-item {
  background-color: #f0f9ff;
  width: 250px;
  height: 200px;
  border-radius: 20px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}

.flex-content h3 {
  font-size: 25px;
  font-weight: 600;
}

.flex-container .button {
  margin: 40px;
}

/* section four styles */
.flex-container2 {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.flex-box2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.flex-item-2 {
  background-color: #fff;
  width: 350px;
  height: 400px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
  width: 350px;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-grow: 1;
}

.image img {
  width: 100%;
  height: 100%;
}

.flex-content-2 {
  padding: 10px;
  height: 200px;
  flex-grow: 1;
}

.flex-content-2 h2 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.flex-container2 .button {
  margin: 40px;
}

.capital {
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 600;
}

/* footer styles */
footer {
  background-color: #f0f9ff;
}

.footer-section {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20px;
}

.flex-box3 {
  min-height: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.flex-item-3 {
  width: 300px;
  height: 300px;
}

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
}

.care-flex h2 {
  color: #00a0fd;
  padding: 10px 10px 10px 0;
}

.care-flex ul {
  list-style-type: none;
  padding: 0;
}

.care-flex ul li {
  padding-bottom: 5px;
}

.pract-flex h2 {
  color: #00a0fd;
  padding: 10px 10px 10px 0;
}

.pract-flex ul {
  list-style-type: none;
  padding: 0;
}

.pract-flex ul li {
  padding-bottom: 5px;
}

.cont-flex h2 {
  color: #00a0fd;
  padding: 10px 10px 10px 0;
}

.cont-flex ul {
  list-style-type: none;
  padding: 0;
}

.cont-flex h2 a {
  color: #00a0fd;
  text-decoration: none;
}

.final-flex {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */

  display: flex;
  list-style: none; /* Remove default bullet points */
  padding: ;
  margin: ;
}

.final-flex li {
  display: block;
  padding: 10px;
  color: white;
  background-color: #fff;
  margin: 10px;
  text-decoration: none;
  border-radius: 50px;

  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.landing {
  background-color: #00a0fd;
}

.flex-box4 {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;

  color: #fff;
}

/* media queries */

@media (max-width: 1024px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }

  .flex-box {
    display: flex
    align-items: center;
    gap: 20px;
  }

  .flex-box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .flex-box3 {
    gap: 10px;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
  }

  .logo-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }

  .flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .flex-box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .flex-box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
  }

  .logo-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .flex-box4 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cont-flex ul {
    height: 300px;
  }

  .final-flex {
    display: flex;
    flex-direction: column;
  }
}
